
@{
    ViewData["Title"] = "Login";
    ViewBag.Title = "Login";
    Layout = "_AuthLayout";
}


<!DOCTYPE html>

<html>
<body>

    @* Start Body *@
    <section>
        <center>
            <div class="mt-3 bg-danger text-white rounded-2">
                <h1>Welcome to Login page</h1>
                <p>lorem0....................</p>
            </div>
        </center>
    </section>
    @* End Body *@

</body>
</html>

