@{
    // Layout = "_Layout";
    ViewBag.Title = "AboutUs";
}

<!DOCTYPE html>

<html>
<body>

    @* Start Body *@
    <section>
        <center>
            <div class="mt-3 bg-warning text-white rounded-2">
                <h1>Welcome to AboutUs page</h1>
                <p>lorem0....................</p>
            </div>
        </center>
    </section>
    @* End Body *@

</body>
</html>
