
@{
    // Layout = "_Layout";
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<body>
    @DateTime.Now;
    @{
        int x = 0;
        string name = "Hamadaa";
    }
    <!--HTML comment-->

    @* Razor Page comment *@

    @* Start Body *@
    <section>
        <center>
            <div class="mt-3 bg-primary text-white rounded-2">
                <h1>Welcome to Home page</h1>
                <p>lorem0....................</p>
            </div>
        </center>
    </section>
    @* End Body *@

</body>
</html>
