
@{
    ViewData["Title"] = "Privacy";
    ViewBag.Title = "Privacy";
    // Layout = "_Layout";
}


<!DOCTYPE html>

<html>
<body>
    <!--HTML comment-->
    @* Razor Page comment *@

    @* Start Body *@
    <section>
        <center>
            <div class="mt-3 bg-success text-white rounded-2">
                <h1>Welcome to Privacy page</h1>
                <p>lorem0....................</p>
            </div>
        </center>
    </section>
    @* End Body *@

</body>
</html>

